
#t01
{
    border: 1px solid black;
    width:300px;
    margin: 10px;
    overflow: auto;     

}
#t01 tr td
{   font-size: 1.2em;
    line-height: 1.3em;
    padding:9px;
    font-family: 'Times New Roman', Times, serif;
}
.result-container
{
    background:url(imagex/requestdonation1.jpg);
    height: 1200px;
}
#t01 tr td:first-of-type{
    font-weight: bold;
}